<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BEMMTOOL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <BEMMTOOL.My.MySettings>
      <setting name="ho" serializeAs="String">
        <value />
      </setting>
      <setting name="ten" serializeAs="String">
        <value />
      </setting>
      <setting name="matkhau" serializeAs="String">
        <value />
      </setting>
      <setting name="subid" serializeAs="String">
        <value />
      </setting>
      <setting name="pageid" serializeAs="String">
        <value />
      </setting>
      <setting name="folder" serializeAs="String">
        <value />
      </setting>
      <setting name="usename" serializeAs="String">
        <value />
      </setting>
      <setting name="accesskey" serializeAs="String">
        <value />
      </setting>
      <setting name="time" serializeAs="String">
        <value />
      </setting>
      <setting name="taikhoanverify" serializeAs="String">
        <value />
      </setting>
      <setting name="keyapi" serializeAs="String">
        <value />
      </setting>
      <setting name="ngay" serializeAs="String">
        <value />
      </setting>
      <setting name="ngayhethan" serializeAs="String">
        <value />
      </setting>
      <setting name="thangmua" serializeAs="String">
        <value />
      </setting>
      <setting name="ngaydamuane" serializeAs="String">
        <value />
      </setting>
      <setting name="listtaikhoanmail" serializeAs="String">
        <value />
      </setting>
      <setting name="ngaychinh" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="listtiktok" serializeAs="String">
        <value />
      </setting>
    </BEMMTOOL.My.MySettings>
  </userSettings>
</configuration>
